<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intent Recognizer</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="nav">
    <span id="title">Intent Recognizer</span>
    <span id="loading-message">Loading...</span>
  </div>
  <div class="container">
    <form id="form-message" autocomplete="off">
      <input type="text" id="input-message" placeholder="Enter message">
      <select id="select-classifier">
        <option value="MNB">Multinomial Naive Bayes</option>
        <option value="tree">Decision Tree</option>
      </select>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="checkbox-balanced">
        <label for="checkbox-balanced" class="checkbox-label">Balanced data</label>
      </div>
      <div class="checkbox-wrapper">
        <input type="checkbox" id="checkbox-selected">
        <label for="checkbox-selected" class="checkbox-label">Selected feature</label>
      </div>
      <input type="submit" id="btn-submit">
    </form>
  </div>
  <div class="container">
    <span class="subtitle">Sentences</span>
    <span id="message-text">-</span>
    <span class="subtitle">Predicted Intent</span>
    <span id="message-intent">-</span>
    <span class="subtitle">Details</span>
    <pre id="message-details">-</pre>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
